body {
  background-image: url('./Uploads/AI_BG.webp'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}
